@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&family=Poppins:wght@500&display=swap");

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.main__hero-banner {
  grid-column: 2 / -2;
  height: 80vh;
  background-image: linear-gradient(to right bottom, #fc545475, #f50c0cb7),
    url(images//Golden\ Retriever\ About\ Page.jpg);
  background-size: cover;
  background-position: center;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%); */
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1;
  z-index: 2;
}

.main__hero-banner--textbox {
  margin-top: -10rem;
}

.main__hero-banner--textbox--heading {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.main__hero-banner--textbox--secondary-heading {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.42rem;
  font-weight: 300;
  margin-bottom: 1rem;
  text-align: center;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.main__hero-banner--textbox--text {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  /* letter-spacing: 0.5rem; */
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.main__history_banner {
  grid-row: 2;
  grid-column: 2 / -2;
  height: 100vh;
  background-color: #f7f7f7;
  padding: 2rem;
  /* clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%); */
  /* transform: skewY(-5.8deg); */
  /* margin-top: -20rem; */
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.main__history_banner--heading {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  color: #e50914;
  font-weight: 400;
}

.main__history_banner--paragraph > p {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  50% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  50% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  50% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@media only screen and (max-width: 30rem) {
  .main__hero-banner--textbox {
    margin: 1rem;
  }

  .main__hero-banner--textbox--heading {
    font-size: 3rem;
  }

  .main__hero-banner--textbox--secondary-heading {
    font-size: 2rem;
  }

  .main__hero-banner--textbox--text {
    font-size: 0.8rem;
  }

  .main__history_banner--paragraph > p {
    font-size: 0.9rem;
  }
}
