@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins:wght@500&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  display: grid;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  row-gap: 1rem;
  min-height: 100vh;
}

header {
  margin: 0;
  padding: 0;
  background-color: #e50914;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.main_neu_logo {
  width: 4rem;
  height: auto;
  color: white;
  margin-right: 0.4rem;
}

.header__menu__icon {
  display: none !important;
  cursor: pointer;
}

.header__main > h2 {
  margin: 0;
  color: white;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
}

.header__main > h2::before {
  content: "Northeastern University ";
}

.header__main {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.header__menu {
  grid-column: 4 / -1;
  margin: auto;
  width: 100%;
  height: 100%;
}

.header__menu > ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  height: 100%;
  align-items: center;
}
.header__menu > ul > li {
  list-style: none;
  padding: 0.75rem;

  text-align: center;
  width: 20rem;
}

.header__menu > ul > li > a {
  color: white;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.header__menu > ul > li > a:hover {
  text-decoration: underline;
}

.header__menu > ul > li:hover {
  background-color: #9a0109;
  cursor: pointer;
}

.header__icon__mobile--checkbox {
  display: none;
}

.header__icon__mobile--overlay_menu {
  display: none;
}

@media only screen and (max-width: 50rem) {
  .header__menu__icon {
    display: block !important;
    position: absolute;
    font-size: 2.5rem !important;
    color: white;
    cursor: pointer;
    z-index: 1;
    padding: 0.855rem;
  }

  .header__menu__icon:hover {
    background-color: #9a0109;
  }

  .header__menu__icon:checked {
    background-color: black;
  }

  .header__main {
    grid-column: 1 / -1;
    position: relative;
  }

  .header__menu {
    display: none;
  }

  .header__main > h2::before {
    content: "NEU ";
  }

  .header__icon__mobile--checkbox:checked ~ div {
    left: 0;
  }

  .header__icon__mobile--overlay_menu {
    display: block;
  }

  .header__icon__mobile--overlay_menu {
    position: absolute;
    left: -100vw;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000e0;
    z-index: 5;
    transition: 0.35s ease-in-out;
  }

  .header__icon__mobile--overlay_menu > ul {
    position: absolute;
    top: 3rem;
    width: 74.5%;
  }

  .header__icon__mobile--overlay_menu > ul > li {
    list-style: none;
    padding: 0.75rem;
    color: white;
    font-family: "Poppins", sans-serif;
    text-align: center;
    width: 100%;
    /* width: 20rem; */
  }

  .header__icon__mobile--overlay_menu > ul > li > a {
    color: white;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }

  .header__icon__mobile--overlay_menu > ul > li:nth-child(2n) {
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
  }

  .main_neu_logo {
    width: 2.5rem;
    height: auto;
    color: white;
    margin-right: 0.4rem;
  }
}

footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 10rem;
}
