@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&family=Poppins:wght@500&display=swap");

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.main__hero-banner {
  grid-column: 2 / -2;
  height: 80vh;
  background-image: linear-gradient(to right bottom, #fc545475, #f50c0cb7),
    url(images/hero-banner-home.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1;
  z-index: 2;
}

.main__hero-banner--textbox {
  margin-top: -10rem;
}

.main__hero-banner--textbox--heading {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.main__hero-banner--textbox--secondary-heading {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.42rem;
  font-weight: 300;
  margin-bottom: 1rem;
  text-align: center;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.main__hero-banner--textbox--text {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  /* letter-spacing: 0.5rem; */
  font-weight: 300;
  text-align: center;
  transition: all 0.2s;
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.main__select_banner {
  grid-row: 2;
  grid-column: 2 / -2;
  height: 130vh;
  background-color: #f7f7f7;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
  /* transform: skewY(-5.8deg); */
  margin-top: -20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main__select_banner > * {
  /* transform: skewY(5.8deg); */
}

.main__select_banner--heading {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  color: #e50914;
}

.main__select_banner--card-flexbox {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.main__select_banner--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 0.01px solid black; */
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0.5rem 0.5rem 20px 5px rgb(0 0 0 / 35%);
  margin: 1rem;
  transition: 0.2s ease-out;
}

.main__select_banner--card > img {
  height: 300px;
  width: 250px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

.main__select_banner--card--content > h2 {
  color: #b30710;
  font-family: "Oswald", sans-serif;
}

.main__select_banner--card--content > p,
.main__select_banner--card--content > a {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.main__select_banner--card--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  max-width: 200px;
}

.main__reasons_banner {
  grid-row: 3;
  grid-column: 2 / -2;
  height: 130vh;
  background-color: #f34952;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  /* transform: skewY(-5.8deg); */
  margin-top: -20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.main__reasons_banner--heading {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
}

.main__reasons_banner--card-flexbox {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.main__reasons_banner--card {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* border: 0.5px solid black; */
  border-radius: 1rem 1rem 1rem 1rem;
  box-shadow: 0.5rem 0.5rem 20px 0px rgb(0 0 0 / 50%);
  margin: 1rem;
  background-color: #f7f7f7;
  max-width: 40rem;
  transition: all 0.3s ease-out;
}

.main__reasons_banner--card:hover,
.main__select_banner--card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0px);
}

.main__reasons_banner--card > img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 1rem 0 0 1rem;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.main__reasons_banner--card--content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__reasons_banner--card--content > h2 {
  color: #e50914;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-align: center;
}

.main__reasons_banner--card--content > p,
.main__reasons_banner--card--content > a {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 1rem;
}

@media only screen and (max-width: 64rem) {
  .main__select_banner--card > img {
    width: 11.25rem;
    height: 12.5rem;
  }
  .main__select_banner--card--content > p {
    width: 9rem;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 50rem) {
  .main__select_banner--card > img {
    width: 11.25rem;
    height: 12.5rem;
  }
  .main__select_banner--card--content > p {
    width: 9rem;
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 30rem) {
  .main__hero-banner {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }

  .main__hero-banner--textbox--heading {
    font-size: 3rem;
  }
  .main__hero-banner--textbox--secondary-heading {
    font-size: 2rem;
  }
  .main__hero-banner--textbox--text {
    font-size: 1rem;
  }

  .main__select_banner--card > img {
  }
  .main__select_banner {
    margin-top: -13rem;
    height: 210vh;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  }
  .main__select_banner--heading {
    margin-top: -3rem;
    font-size: 1.5rem;
  }
  .main__reasons_banner {
    margin-top: -20rem;
    /* height: 110vh; */
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  }
  .main__reasons_banner--heading {
    margin-top: 3rem;
    font-size: 1.2rem;
  }
  .main__reasons_banner--card {
    max-width: 20rem;
  }
  .main__reasons_banner--card > img {
    width: 100px;
    height: auto;
  }

  .main__reasons_banner--card--content > h2 {
    font-size: 1rem;
  }

  .main__reasons_banner--card--content > p,
  .main__reasons_banner--card--content > a {
    font-size: 0.7rem;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  50% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  50% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  50% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
