@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&family=Poppins:wght@500&display=swap");

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
}

.main_section {
  grid-column: 2 / -2;
  grid-row: 1 / -1;
}

.main_register-panel {
  /* grid-column: 2 / -2;
  grid-row: 1 / -1; */
  height: auto;
  /* background-color: #99030b; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: linear-gradient(to right bottom, #ef4d4db4, #f50c0cd7),
    url(images/Registration\ Panel\ Dog.jpg);
  background-size: cover;
  background-position: center;
}

.main_register-panel > h2 {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.main_register-panel > div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem;
  flex-wrap: wrap;
}

.main_register-panel > div > div {
  width: 12rem;
  row-gap: 1rem;
}

.main_register-panel > div > div > div {
  /* display: flex; */
}

.main_register-panel > div > label {
  display: flex;
  flex-direction: row-reverse;
  width: 10rem;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: white;
}

.main_register-panel > div > input {
  padding: 0.8rem;
  width: 12rem;
  border-radius: 10px;
  border: 0px;
  box-shadow: 0.5rem 0.5rem 20px 2px rgb(0 0 0 / 35%);
}

.submit_button {
  background-color: #25a4f5;
  padding: 0.5rem;
  border: 0px;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  width: 10rem;
  box-shadow: 0.3rem 0.3rem 20px 0px rgb(0 0 0 / 35%);
}

.reset_button {
  background-color: #f5f225;
  padding: 0.5rem;
  border: 0px;
  border-radius: 5px;
  font-size: 1rem;
  color: black;
  width: 10rem;
  box-shadow: 0.3rem 0.3rem 20px 0px rgb(0 0 0 / 35%);
}

.dropdown_menu > select {
  width: 12rem;
  padding: 0.8rem;
  color: #333333;
  background-color: white;
  border: 1px solid;
  cursor: pointer;
  border-radius: 10px;
  margin: 1rem;
}

.thecheckbox {
  text-align: center;
}

.degreradiobuttondiv > div > label {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin: 0.8rem;
}

@media only screen and (max-width: 30rem) {
  .main_register-panel > h2 {
    font-size: 1.5rem;
    word-break: break-all;
  }

  .main_register-panel > div > label {
    flex-direction: row;
  }

  .main_register-panel > div > input {
    width: 9rem;
    margin: 1.5rem;
  }

  .thecheckbox {
    margin: 1rem;
  }

  .final_buttons {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  50% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  50% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  50% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
